
@{
    ViewBag.Title = "Index";
}




<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
   
</head>
<body>
    <div class="Centers">
        <h2>Välkommen till Ekonomi och marknadsföringssidan för Biosalongen</h2>


        <img class="bg" src="~/Images/anika-mikkelson-dWYjy9zIiF8-unsplash.jpg" />

    </div>
 </body>
</html>
